<section class="header">
  <div class="container">
    <nav class="header_nav">
      <img src="/static/img/LOGO.svg" alt="GoidaChess Logo">

      <ol class="main_menu">
        <li><a class="underline-one" href="/">СООБЩЕСТВО</a></li>
        <li><a class="underline-one" href="/game">ИГРЫ</a></li>
        <li><a class="underline-one" href="#">ИСТОРИЯ</a></li>
        <li><a class="underline-one" href="#">АНАЛИЗ</a></li>
        <li><a class="underline-one" href="#">ТУРНИРЫ</a></li>
        <li><a class="underline-one" href="#">ПОДПИСКА</a></li>
      </ol>

      <nav class="auth_container">
        <ol>
          <li><a class="underline-one" href="#">Зарегистрироваться</a></li>
          <li><a class="underline-one" href="#">Авторизироваться</a></li>
        </ol>
      </nav>
    </nav>
  </div>
</section>
