{% extends 'base.html' %}

{% block title %}Главная | GoidaChess{% endblock %}

{% block content %}
  <section class="main_frame">
    <div class="container">
      <div class="main_text">
        <h1>Стань частью сообщества</h1>
        <h4>GoidaChess — это больше, чем просто онлайн-шахматы. Это сообщество единомышленников, где каждый ход имеет значение.
          Участвуй в турнирах, прокачивай свои навыки, сражайся с достойными соперниками и обменивайся опытом с игроками со всего мира.
          
          Присоединяйся сегодня и стань частью нового поколения шахматистов.
          
          Мы не просто платформа — мы новый мир.</h4>
      </div>
    </div>
  </section>
{% endblock %}